{% extends "base.html" %}

{% block title %}
    Конструктор поединков
{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{#<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">#}
{% endblock %}



{% block content %}
    <div class="container" style="margin-top: 10px">
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{url_for('competitions')}}">Список соревнований</a></li>
                        <li class="breadcrumb-item"><a href="{{url_for('competition_view', competition_id = competition_data.competition_id)}}">{{ competition_data.competition_name }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Конструктор. Выбор параметров</li>
                      </ol>
                </nav>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul style="padding-left: 0">
                        {% for message in messages %}
                        <div class="alert alert-warning" role="alert">
                            <li style="list-style-type: none;">{{ message }}</li>
                        </div>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}

                <h3>{{ competition_data.competition_name }}</h3>




    </div>

</div>


    <div class="row" style="margin-top: 30px;">
        <div class="col">


        </div>
    </div>

</div> <!-- конец дива с контейнером -->

    <!-- Начало скриптов -->
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>#}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
{#<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.js" defer></script>#}


<script>
    $(document).ready(function() {



    } );


</script>


{% endblock %}

